html {
	height: 100%;
}

body {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	font-size: 14px;
	line-height: 1.8;
	background-color: #ffffff;
	min-height: 100%;
	color: #000000;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	/* border-bottom: 2px solid #f0f0f0; */
	font-weight: 1000;
}


.bg-light {
	/* navbar border 색을 흰색으로 변경 */
    border-color: #ffffff;
}

.nav.a.active {
	display:block;
	/* width:70px; underbar width for menu */
	content: '';
	border-bottom: solid 3px tomato;
	transform: scaleX(1);
}

.menu a:after {
	display:block;/*a요소를 블록 요소라고 선언*/
	/* width:70px; underbar width for menu */
	content: '';/*comtent안은 밑줄 디자인을 위해 비워두세요.*/
	border-bottom: solid 3px tomato;
	transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
	transition: transform 0.3s ease-in-out; /*변형 방식*/
}
.menu a.active:after {
   transform: scaleX(1);/*a 속성에 hover시 after를 기존 크기로 변경*/
}



.bs-docs-section {
	margin-top: 20px;
}

a.navbar-brand {
	/* font-family: 'Permanent Marker', cursive; */
	font-size: 20px;
	font-weight: 1000;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 12px;
}

a.nav-link.active {
	font-weight: 1000;
}

p {
	text-align: justify;
}

h5 {
	font-weight: 800;
}

.container {
	max-width: 1024px;
}

.table th,
.table td {
	border-color: #ffffff;
}
.table thead th {
	border-bottom: #ffffff;
}

span.abbr {
	font-weight: 900;
	color: tomato;
}

.research_image {
	width: 215px;
	height: 180px;
	border: 1px;
	border-radius: 5px;
}

.member-image {
	/* width: 100%; */
	width: 184px;
	height: 240px;
	border: 1px;
	border-radius: 5px;
}

.portfolio_image {
	width: 215px;
	height: 160px;
	border: 1px;
	border-radius: 0px;
}

em > span {
	border: 1px;
	border-bottom-style: dotted;
}

.footer {
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	font-size: 14px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color:#fcfcfc;
	border-top: 1px solid #e0e0e0;
}

.card-body:hover{
    /* box-shadow: 8px 8px 8px black; */
    background-color: #f3f3f3;
    transform:scale(1.0);
}

/* 뉴스 숨기기 */
.hidden {
	display: none !important;
}

.research_area>div.card>.card-body {
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.26);
	margin: 5px 3px 5px 3px;
}

.card {
	border: 1px;
}

.card-body {
	padding: 1rem; /* 1.25 rem to 1 rem*/
}

.card-body>p {
	text-align: left;
}

.bg-current-course {
	background-color: #d5eef7;
}

.abstract {
	margin-top: 6px;
}

@media ( max-width: 768px ) {
	.navbar { padding-top: 10px; }
}

/*
CSS for Slide Show 
*/

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(207, 201, 201, 0.8);
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:active, .next:active {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption_text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.caption_text > span {
	background-color: rgb(73 68 68 / 80%);
}

/* Number text (1/3 etc) */
.number_text {
	color: #f2f2f2;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators 
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
*/

slideshow-container>.active, .dot.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fadeIn {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}